.weather-app-wrapper {
  max-width: 650px;
  margin: 30px auto;
  font-family: Google Sans, arial, sans-serif;
}

.weather-app {
  border: 1px solid #dadce0;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: 0% 40%;
}

.wrapper-container {
  padding: 20px;
  border-radius: 5px;
}

.forecaseBase {
  padding: 20px 0;
  background: #ffffffBF;
}

.local-details {
  text-align: center;
  font-size: 16px;
  margin-top: 16px;
  vertical-align: top;
  list-style-type: none;
  text-transform: capitalize;
}

.descriptionWrapper {
  margin: 0 0 -20px 0;
}

.location {
  font-weight: 400;
  font-size: 45px;
  line-height: 50px;
}

.dayTime {
  font-size: 17px;
}

.currentWeatherData {
  margin: 0 auto 200px auto;
  max-width: 85%;
  align-items: center;
}

.temp {
  font-weight: 400;
  font-size: 140px;
  text-align: right;
  margin-left: 50px;
}

.unit {
  font-weight: 400;
  font-size: 20px;
  vertical-align: 85px;
}

.description {
  font-weight: 600;
  font-size: 18.5px;
  text-transform: uppercase;
}


.weatherDetails {
  margin-top: 5px;
  text-align: center;
}

.weatherForecast {
  margin: auto 0px;
  text-align: center;
}

.weekDays {
  color: #202124;
  padding-top: 7px;
}

.forecastImage {
  height: 48px;
}

.forecastTemp {
  font-size: 13px;
}

.high {
  color: #202124;
  padding-right: 5px;
}

.low {
  color: #70757a;
}

.citySearch {
  padding: 20px 10px 0;
}