.weather-app-wrapper {
  max-width: 650px;
  margin: 30px auto;
  font-family: Google Sans, arial, sans-serif;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadce0;
  border-radius: 5px;
}

.local-details {
  text-align: right;
  font-size: 16px;
  margin-top: 6px;
  padding-left: 6px;
  vertical-align: top;
  list-style-type: none;
  text-transform: capitalize;
}
.location {
  font-weight: 400;
  color: #202124;
  font-size: 20px;
}

.dayTime {
  color: #70757a;
  font-size: 16px;
}

.local-condition {
  color: #70757a;
  font-size: 16px;
}

.current-weather-icon {
  display: inline-block;
  vertical-align: top;
  width: 22%;
}
.weather-details {
  text-align: left;
  color: #70757a;
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  padding-left: 9px;
  padding-top: 15px;
  list-style-type: none;
}

.a {
  text-decoration: none;
  cursor: default;
}

.temp-unit {
  display: inline-block;
  padding-left: 10px;
  vertical-align: top;
  color: #202124;
}
.temp {
  font-weight: 400;
  font-size: 55px;
}

.unit {
  font-size: 16px;
  padding-left: 6px;
  vertical-align: 30px;
  text-decoration: none;
  cursor: default;
}

.unit .active {
  color: #202124;
  cursor: default;
  text-decoration: none;
  cursor: default;
}
.unit .active:hover {
  cursor: default;
  text-decoration: none;
  color: purple;
  text-decoration: none;
  cursor: default;
}

.forecast {
  display: inline-block;
  text-align: center;
}
.weekDays {
  color: #202124;
  padding-top: 7px;
}

.forecastImage {
  height: 48px;
}

.forecastTemp {
  font-size: 13px;
}

.high {
  color: #202124;
  padding-right: 5px;
}

.low {
  font-size: 13px;
  color: #70757a;
}
